<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Praca</title>
</head>

<body>
    <div class="opserwowani_tlo">
        <nav>
            <ul>
                <li>
                    <a href="panel_startowy.html" class=""> Powruć </a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <div class="opserwowani_ikony">
            <a href="praca.html">
              <img src="png/prace/01.png">  
            </a>
    
            <a href="profil_artysty.html">
                <img src="png/os0.png">  
              </a>
        </div>
    </div>
</body>