<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Praca</title>
</head>

<body>
    <div class="praca_tlo">
        <nav>
            <ul>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <div class="podziekowanie_info">
            <h1>Dziekujemy</h1>
            <h2>że wspierasz i doceniasz pracę drobniejszych artystów.</h2>
            <a href="wyszukane_prace.html" class="przycisk_zielony">Ok</a>
        </div>
    </div>
</body>