<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Praca</title>
</head>

<body>
    <div class="praca_tlo">
        <nav>
            <ul>
                <li>
                    <a href="wyszukane_prace.html" class="cofanie">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <main class="praca_wstawka">
            <div>
                <img src="png/prace/01.png">

                <div class="info_pracy">
                    <b>Bogato zdobiona szkatułka z orzecha włoskiego</b><br>
                    Cena: <i>3500zł</i><br>
                    Zamieszkały: <i>Kraków 37km stąd</i><br>
                    Autor: <i><a href="profil_artysty.html">Kols Fils</a></i><br>
                    Opis:<br>
                    <h6>Bogato zdobiona szkatułka z orzecha włoskiego, pokryta politurą,
                    wnętrze pokryte materiałem z gombką, a wewnętrzna strona pokrywki
                    została wypalona wypalony</h6>
                </div>
                
                <div class="prace_przyciski">
                    <ul>
                        <li class="przycisk_pomaranczowy">
                            <a href="">Opserwuj</a>
                        </li>
                        <li class="przycisk_zielony">
                            <a href="wybraba_praca.html">Kup</a>
                        </li>
                        <li class="przycisk_niebieski">
                            <a href="wiadomości.html">Zapytaj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

    </div>
</body>