<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Wyszukane Prace</title>
</head>

<body>
    <div class="tlo_mapa">
        <nav>
            <ul>
                <li>
                    <a href="panel_startowy.html" class="przycisk_do_mapy">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <div class="wiadomosci_wpis">
            <a href="wiadomosc.html">
                <img src="png/os1.png">
                <h2>Dzień dobry, czy dało by się taniej?</h2>
            </a>
            <a  href="wiadomosc.html">
                <img src="png/os2.png">
                <h2>Czy istnieje możliwość zamuwienia pracy u pana?</h2>
            </a>
        </div>
    </div>
</body>