<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Wyszukane Prace</title>
</head>

<body>
    <div class="tlo_wiadomosc">
        <nav>
            <ul>
                <li>
                    <a href="wiadomości.html" class="przycisk_do_mapy">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <div class="wiadomosc_info">
            <img src="png/os2.png">
        </div>
        

        <div class="wpisy_wiadomośc">
            <div class="wpis_l">
                Czy istnieje możliwość zamuwienia pracy u pana?
            </div>

            <div class="wpis_r">
                Tak, istnieje możliwość po wcześniejszym uzgodnieniu.
            </div>

            <div class="wpis_l">
                Dziekuję.
            </div>
        </div>
    </div>
</body>