<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Praca</title>
</head>

<body>
    <div class="praca_tlo">
        <nav>
            <ul>
                <li>
                    <a href="praca.html" class="cofanie">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <div class="rama_wybrana">
            <div>
                <h2><i>Wybrałeś:</i></h2>
            </div>

            <img src="png/prace/01.png">

            <div>
                <b>Bogato zdobiona szkatułka z orzecha włoskiego</b><br>
                Cena: <i>3500zł</i><br>
                Miejscowość: <i>Kraków 37km stąd</i><br>
                Autor: <i>Kols Fils</i><br><br>
                <a><u><i>Wybierz sposób płatności:</i></u></a><br>
                <a><u><i>Wybierz sposób dostawy:</i></u></a>
            </div>

            <a href="podziekowanie.html" class="przycisk_zielony">
                Potwierdz
            </a>
        </div>
    </div>
</body>