<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Wyszukane Prace</title>
</head>

<body>
	<div class="wyszukane_tlo">
        <nav>
            <ul>
                <li>
                    <a href="wyszukiwanie.html" class="cofanie">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
                <li>
                    <a href="mapa.html" class="przycisk_do_mapy">Pokaż na mapie</a>
                </li>
            </ul>
        </nav>

        <main id="wyszukane">
            <a href="praca.html">
                <img src="png/prace/1.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/2.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/3.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/4.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/5.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/6.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/7.png">
            </a>

            <a href="praca.html">
                <img src="png/prace/8.png">
            </a>
        </main>
	</div>
</body>