<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css" >
	<title>Wyszykiwanie</title>
</head>

<body>
	<div class="wyszukiewnie_tlo">
        <nav>
            <ul>
                <li>
                    <a href="panel_startowy.html" class="cofanie">Powruć</a>
                </li>
                <li>
                    <a href="wyszukiwanie.html"> Wyszukaj rękodzieł </a>
                </li>
                <li>
                    <a href="twoj_profil.html">Twój profil</a>
                </li>
                <li>
                    <a href="wiadomości.html">Wiadomości</a>
                </li>
                <li>
                    <a href="opserwowani.html">Opserwowani</a>
                </li>
                <li>
                    <a href="logowanie.html">Wyloguj</a>
                </li>
            </ul>
        </nav>

        <main id="wyszukiwanie">
            <h2>Podaj odległość do wyszukiwania</h2>
            <img src="png/pasek1.png">
            <h2>Podaj zakres ceny</h2>
            <img src="png/pasek2.png">
            <h2>Rodzaj prac</h2>

            <div class="przyciski_wyboru_wyszukiwanie">
                <button>Wszystkie</button>
                <button>Rzeźby</button>
                <button>Obrazy/szkice</button>
                <button>Ubrania</button>
                <button>Biżuteria</button>
                <button>Haft</button>
                <button>Szydełko</button>
                <button>Stolarstwo.art</button>
                <button>Dequpage</button>
                <button>Inne</button>
            </div>

            <div class="przycisk_wyszukiwania">
                <a href="wyszukane_prace.html">
                    Wyszukaj
                </a>
            </div>
            
            
        </main>
    </div>
</body>

